html{
    scroll-behavior: smooth;
}

header{
    background-color: #0C1F72;
    display: flex;
    flex-direction: row;
    color: aliceblue;
    padding: 1px 10px;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    gap: 175px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}
#topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 80px;
}
#subtitulo{
    padding: 0px 0px 0px 10px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial';
    letter-spacing: 4px;
}
#titulo{
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
    margin-bottom: -10px;
    font-size: 30px;
}
#imagemcasquinhas{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    border: white solid 1px;
}
footer{
    background-color: #0C1F72;
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    position: sticky;
    bottom: 0;
}

nav{
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap: 80px;
    font-size: 20px;
    padding: 0px 100px 0px 0px;
}

h1{
    justify-content: center;
    display: flex;
    font-size: 40px;
}

header a{
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

header a:hover{
    transform: scale(1.55);
}

a{
    justify-content: center;
    display: flex;
    color: black;
    text-decoration: none;
}

section{
    background-color: white;
}

#p1{
    scroll-margin-top: 100px;
}
#sorveteimg{
    width: 850px;
    height: 610px;
    padding: 33px 60px 0px 60px;
}

#sabor{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F4F9FF;
    font-family: 'Poppins', sans-serif;

}

#sabor1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px 90px 100px;
}

#sabor2{
    font-size: 60px;
    color: #0c1f72;
    line-height: 1.2;
    margin-bottom: -5px;
}

#sabor3{
    font-size: 20px;
    color: #444;
    line-height: 1.5;
    padding: 10px 0px;
}

#saborlink{
    color: white;
    font-size: 15px;
    background-color: rgb(255, 64, 128);
    padding: 15px 20px;
    border-radius: 10px;
    width: fit-content;
    transition: all 0.5s ease;
}
#saborlink:hover{
    transition: all 0.5s ease;
    transform: scale(1.15);
}

#dia{
    color: rgb(255, 64, 128);
}
#p2{
    scroll-margin-top: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nossos{
    color: #053abf;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 30px 15px;
}
#nossos2{
    letter-spacing: 0.6px;
    padding: 0px 15px;
}
.sabores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    padding: 20px 0px 50px 0px;
}
.tiposorve{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: fit-content;
    border-radius: 15px;
    padding: 20px 10px;
}
#imgchoco{
    width: 250px;
    height: 175px;
    margin-bottom: -10px;
}
.nomesorvete{
    font-size: 24px;
    font-weight: 700;
    color: #0C1F72;
    margin-bottom: -2px;
}
.descricaosorvete{
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
    margin-bottom: -10px;
}
.descricaosorvete2{
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.vermais{
    border: 1.5px solid #2563EB;
    color: #2563EB;
    padding: 7px 23px;
    border-radius: 8px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s ease;
}
.vermais:hover{
    background-color: #2563EB;
    color: white;
    transition: all 0.5s ease;
}
#p3{
    scroll-margin-top: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF0F6;
    font-family: 'Poppins', sans-serif;
}
#promocoes{
    color: #FF4080;
    font-size: 18px;
    font-weight: 700;
    padding: 30px 15px;
}
#promocoes2{
    letter-spacing: 0.6px;
    padding: 0px 15px;
}
#promocao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FEF8F9;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    padding: 0px 0px 0px 55px;
    margin-bottom: 30px;
}
#casquinha{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px 0px 0px 0px;
}
#emdobro{
    color: #FF4F93;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 2px;
}
#descricaocasquinha{
    color: #444444;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
}
#aproveite{
    color: #FFFFFF;
    background-color: #FF4F93;
    padding: 10px 20px;
    border-radius: 8px;

}
#imgpromocao{
    height: 250px;
    width: 670px;
}
