html{
    scroll-behavior: smooth;
}

header{
    background-color: #0C1F72;
    display: flex;
    flex-direction: row;
    color: aliceblue;
    padding: 1px 10px;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    gap: 175px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}
#topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 80px;
}
#subtitulo{
    padding: 0px 0px 0px 10px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial';
    letter-spacing: 4px;
}
#titulo{
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
    margin-bottom: -10px;
    font-size: 30px;
}
#imagemcasquinhas{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    border: white solid 1px;
}
footer{
    background-color: #0C1F72;
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    position: sticky;
    bottom: 0;
}

nav{
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap: 80px;
    font-size: 20px;
    padding: 0px 100px 0px 0px;
}

h1{
    justify-content: center;
    display: flex;
    font-size: 40px;
}

header a{
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

header a:hover{
    font-size: 35px;
    transform: scale(1.15);
}

a{
    justify-content: center;
    display: flex;
    color: black;
    text-decoration: none;
}

section{
    scroll-margin-top: 110px;
    background-color: white;
    margin-bottom: -20px;
}

#sorveteimg{
    width: 800px;
    height: 550px;
    padding: 30px 60px 0px 60px;
}

#sabor{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F4F9FF;
    font-family: 'Poppins', sans-serif;

}

#sabor1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px 90px 100px;
}

#sabor2{
    font-size: 60px;
    color: #0c1f72;
    line-height: 1.2;
    margin-bottom: -5px;
}

#sabor3{
    font-size: 20px;
    color: #444;
    line-height: 1.5;
    padding: 10px 0px;
}

#saborlink{
    color: white;
    font-size: 15px;
    background-color: rgb(255, 64, 128);
    padding: 15px 20px;
    border-radius: 10px;
    width: fit-content;
}

#dia{
    color: rgb(255, 64, 128);
}
#p2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#nossos{
    color: #053abf;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
#nossos2{
    letter-spacing: 1.2px;
    padding: 0px 15px;
}
.tiposorve{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: fit-content;
    border-radius: 15px;
    padding: 20px 0px;
}
#imgchoco{
    width: 250px;
    height: 175px;
    margin-bottom: -10px;
}
.nomesorvete{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #0C1F72;
}
.descricaosorvete{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
    margin-bottom: -10px;
}